doctype html
html
	head
		title LogIn Panel
		link(rel="stylesheet", type="text/css", href="/static/style.css")
	body
		h1 Welcome!
		div.container
			h2 Click button below to login
			a(href="/auth/google").welcome-btn Login