
doctype html
html
	head
		title Logged page
		link(rel="stylesheet", type="text/css", href="/static/style.css")
	body
		div.container
			h2 You have successfully logged in!
			h2 Welcome to your google account!
			